/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }

  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }


body, html {
    height: 100%;
    margin: 0 auto;

}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 1.0em;
    display: grid;
    grid-template-columns: 10% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
